@charset "UTF-8";

/********************************/
/*****  Carga Tipografías  *****/
@import url("https://nworkforce.com/librerias/css/fonts/fonts.css");

@font-face {
  font-family: "Ubuntu-Bold";
  src: url("./fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "Ubuntu-Bold-Italic";
  src: url("./fonts/Ubuntu-BoldItalic.ttf");
}

@font-face {
  font-family: "Ubuntu-Italic";
  src: url("./fonts/Ubuntu-Italic.ttf");
}

@font-face {
  font-family: "Ubuntu-Light";
  src: url("./fonts/Ubuntu-Light.ttf");
}

@font-face {
  font-family: "Ubuntu-Light-Italic";
  src: url("./fonts/Ubuntu-LightItalic.ttf");
}

@font-face {
  font-family: "Ubuntu-Medium";
  src: url("./fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "Ubuntu-Medium-Italic";
  src: url("./fonts/Ubuntu-MediumItalic.ttf");
}

@font-face {
  font-family: "Ubuntu-Regular";
  src: url("./fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Signika";
  src: url("./fonts/Signika-VariableFont_wght.ttf");
}

@font-face {
  font-family: "IntelOne-Light";
  src: url("./fonts/intelone-display-light.otf");
}
@font-face {
  font-family: "IntelOne-Regular";
  src: url("./fonts/intelone-display-regular.otf");
}
@font-face {
  font-family: "IntelOne-Medium";
  src: url("./fonts/intelone-display-medium.otf");
}
@font-face {
  font-family: "IntelOne-Bold";
  src: url("./fonts/intelone-display-bold.otf");
}

/*SEGOE*/
@font-face {
  src: url("./fonts/eot/SegoeUI-Light.eot") format("embedded-opentype");
  src: url("./fonts/eot/SegoeUI-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/SegoeUI-Light.woff2") format("woff2"), url("./fonts/woff/SegoeUI-Light.woff") format("woff"), url("./fonts/ttf/SegoeUI-Light.ttf") format("truetype");
  font-family: 'SegoeUI';
  font-weight: 100;
  font-style: normal; }
@font-face {
  src: url("./fonts/eot/SegoeUI-LightItalic.eot") format("embedded-opentype");
  src: url("./fonts/eot/SegoeUI-LightItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/SegoeUI-LightItalic.woff2") format("woff2"), url("./fonts/woff/SegoeUI-LightItalic.woff") format("woff"), url("./fonts/ttf/SegoeUI-LightItalic.ttf") format("truetype");
  font-family: 'SegoeUI';
  font-weight: 100;
  font-style: italic; }
@font-face {
  src: url("./fonts/eot/SegoeUI-Semilight.eot") format("embedded-opentype");
  src: url("./fonts/eot/SegoeUI-Semilight.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/SegoeUI-Semilight.woff2") format("woff2"), url("./fonts/woff/SegoeUI-Semilight.woff") format("woff"), url("./fonts/ttf/SegoeUI-Semilight.ttf") format("truetype");
  font-family: 'SegoeUI';
  font-weight: 300;
  font-style: normal; }
@font-face {
  src: url("./fonts/eot/SegoeUI-Semilightitalic.eot") format("embedded-opentype");
  src: url("./fonts/eot/SegoeUI-Semilightitalic.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/SegoeUI-Semilightitalic.woff2") format("woff2"), url("./fonts/woff/SegoeUI-Semilightitalic.woff") format("woff"), url("./fonts/ttf/SegoeUI-Semilightitalic.ttf") format("truetype");
  font-family: 'SegoeUI';
  font-weight: 300;
  font-style: italic; }
@font-face {
  src: url("./fonts/eot/segoeui.eot") format("embedded-opentype");
  src: url("./fonts/eot/segoeui.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/segoeui.woff2") format("woff2"), url("./fonts/woff/segoeui.woff") format("woff"), url("./fonts/ttf/segoeui.ttf") format("truetype");
  font-family: 'SegoeUI';
  font-weight: 400;
  font-style: normal; }
@font-face {
  src: url("./fonts/eot/SegoeUI-SemiBold.eot") format("embedded-opentype");
  src: url("./fonts/eot/SegoeUI-SemiBold.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/SegoeUI-SemiBold.woff2") format("woff2"), url("./fonts/woff/SegoeUI-SemiBold.woff") format("woff"), url("./fonts/ttf/SegoeUI-SemiBold.ttf") format("truetype");
  font-family: 'SegoeUI';
  font-weight: 600;
  font-style: normal; }
@font-face {
  src: url("./fonts/eot/SegoeUI-SemiboldItalic.eot") format("embedded-opentype");
  src: url("./fonts/eot/SegoeUI-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/SegoeUI-SemiboldItalic.woff2") format("woff2"), url("./fonts/woff/SegoeUI-SemiboldItalic.woff") format("woff"), url("./fonts/ttf/SegoeUI-SemiboldItalic.ttf") format("truetype");
  font-family: 'SegoeUI';
  font-weight: 600;
  font-style: italic; }
@font-face {
  src: url("./fonts/eot/SegoeUI-Bold.eot") format("embedded-opentype");
  src: url("./fonts/eot/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/SegoeUI-Bold.woff2") format("woff2"), url("./fonts/woff/SegoeUI-Bold.woff") format("woff"), url("./fonts/ttf/SegoeUI-Bold.ttf") format("truetype");
  font-family: 'SegoeUI';
  font-weight: 700;
  font-style: normal; }
@font-face {
  src: url("./fonts/eot/SegoeUI-BoldItalic.eot") format("embedded-opentype");
  src: url("./fonts/eot/SegoeUI-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/SegoeUI-BoldItalic.woff2") format("woff2"), url("./fonts/woff/SegoeUI-BoldItalic.woff") format("woff"), url("./fonts/ttf/SegoeUI-BoldItalic.ttf") format("truetype");
  font-family: 'SegoeUI';
  font-weight: 700;
  font-style: italic; }@font-face {
  src: url("./fonts/eot/SegoeUI-Light.eot") format("embedded-opentype");
  src: url("./fonts/eot/SegoeUI-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/SegoeUI-Light.woff2") format("woff2"), url("./fonts/woff/SegoeUI-Light.woff") format("woff"), url("./fonts/ttf/SegoeUI-Light.ttf") format("truetype");
  font-family: 'SegoeUI';
  font-weight: 100;
  font-style: normal; }
@font-face {
  src: url("./fonts/eot/SegoeUI-LightItalic.eot") format("embedded-opentype");
  src: url("./fonts/eot/SegoeUI-LightItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/SegoeUI-LightItalic.woff2") format("woff2"), url("./fonts/woff/SegoeUI-LightItalic.woff") format("woff"), url("./fonts/ttf/SegoeUI-LightItalic.ttf") format("truetype");
  font-family: 'SegoeUI';
  font-weight: 100;
  font-style: italic; }
@font-face {
  src: url("./fonts/eot/SegoeUI-Semilight.eot") format("embedded-opentype");
  src: url("./fonts/eot/SegoeUI-Semilight.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/SegoeUI-Semilight.woff2") format("woff2"), url("./fonts/woff/SegoeUI-Semilight.woff") format("woff"), url("./fonts/ttf/SegoeUI-Semilight.ttf") format("truetype");
  font-family: 'SegoeUI';
  font-weight: 300;
  font-style: normal; }
@font-face {
  src: url("./fonts/eot/SegoeUI-Semilightitalic.eot") format("embedded-opentype");
  src: url("./fonts/eot/SegoeUI-Semilightitalic.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/SegoeUI-Semilightitalic.woff2") format("woff2"), url("./fonts/woff/SegoeUI-Semilightitalic.woff") format("woff"), url("./fonts/ttf/SegoeUI-Semilightitalic.ttf") format("truetype");
  font-family: 'SegoeUI';
  font-weight: 300;
  font-style: italic; }
@font-face {
  src: url("./fonts/eot/segoeui.eot") format("embedded-opentype");
  src: url("./fonts/eot/segoeui.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/segoeui.woff2") format("woff2"), url("./fonts/woff/segoeui.woff") format("woff"), url("./fonts/ttf/segoeui.ttf") format("truetype");
  font-family: 'SegoeUI';
  font-weight: 400;
  font-style: normal; }
@font-face {
  src: url("./fonts/eot/SegoeUI-SemiBold.eot") format("embedded-opentype");
  src: url("./fonts/eot/SegoeUI-SemiBold.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/SegoeUI-SemiBold.woff2") format("woff2"), url("./fonts/woff/SegoeUI-SemiBold.woff") format("woff"), url("./fonts/ttf/SegoeUI-SemiBold.ttf") format("truetype");
  font-family: 'SegoeUI';
  font-weight: 600;
  font-style: normal; }
@font-face {
  src: url("./fonts/eot/SegoeUI-SemiboldItalic.eot") format("embedded-opentype");
  src: url("./fonts/eot/SegoeUI-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/SegoeUI-SemiboldItalic.woff2") format("woff2"), url("./fonts/woff/SegoeUI-SemiboldItalic.woff") format("woff"), url("./fonts/ttf/SegoeUI-SemiboldItalic.ttf") format("truetype");
  font-family: 'SegoeUI';
  font-weight: 600;
  font-style: italic; }
@font-face {
  src: url("./fonts/eot/SegoeUI-Bold.eot") format("embedded-opentype");
  src: url("./fonts/eot/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/SegoeUI-Bold.woff2") format("woff2"), url("./fonts/woff/SegoeUI-Bold.woff") format("woff"), url("./fonts/ttf/SegoeUI-Bold.ttf") format("truetype");
  font-family: 'SegoeUI';
  font-weight: 700;
  font-style: normal; }
@font-face {
  src: url("./fonts/eot/SegoeUI-BoldItalic.eot") format("embedded-opentype");
  src: url("./fonts/eot/SegoeUI-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/SegoeUI-BoldItalic.woff2") format("woff2"), url("./fonts/woff/SegoeUI-BoldItalic.woff") format("woff"), url("./fonts/ttf/SegoeUI-BoldItalic.ttf") format("truetype");
  font-family: 'SegoeUI';
  font-weight: 700;
  font-style: italic; }


/********************************/
/*****  Variables y  ***********/

:root {
  --green-pcf: #43d87e;
  --yellow-pcf: #e2ff3c;
  --blue-pcf: #2644f9;
  --blue-light-pcf: #e2ecff;
  --blue-medium: #D7E3FC;
  --gray-pcf: #666666;
  --gray-light-pcf: #f1f3f4;
  --gray-light-2-pcf: #f2f2f2;
  --white: #ffffff;
  --black: #000000;
  --blue-dark-intel: #0a001f;
}


html {
  font-size: 62.5%
}

@media (max-width: 87.49em) {
  html {
      font-size:50%
  }
}

.cont_fich_nuev {
  font-size: 16px;
}

/********************************/
/********  Textos  *************/

/** Colores Textos **/

.pcf-text-green {
  color: var(--green-pcf);
}
.pcf-text-blue {
  color: var(--blue-pcf);
}
.pcf-text-yellow {
  color: var(--yellow-pcf);
}
.pcf-text-gray {
  color: var(--gray-pcf);
}
.pcf-text-gray-light {
  color: var(--gray-light-pcf);
}
.pcf-text-white {
  color: var(--white);
}
.pcf-text-black {
  color: var(--black);
}

/** Tipografías Textos **/

.pcf-text-regular {
  font-family: Ubuntu-Regular;
}

.pcf-text-medium {
  font-family: Ubuntu-Medium;
}

.pcf-text-bold {
  font-family: Ubuntu-Bold;
}


.segoeui-text-light {
font-family: SegoeUI;
font-weight: 100!important;
font-style: normal;
}

.segoeui-text-regular {
font-family: SegoeUI;
font-weight: 400!important;
font-style: normal;
}

.segoeui-text-bold {
font-family: SegoeUI;
font-weight: 700!important;
font-style: normal;
}

.intel-text-light {
  font-family:IntelOne-Light;
}
.intel-text-regular {
  font-family:IntelOne-Regular ;
}
.intel-text-medium {
  font-family:IntelOne-Medium ;
}
.intel-text-bold {
  font-family:IntelOne-Bold ;
}

/** Tamaños de Texto (Títulos y Parrafo) **/

.pcf-title-big {
  font-size: 4rem !important;
}

.pcf-title-medium {
  font-size: 2.5rem !important;
}

.pcf-title-small {
  font-size: 1.8rem !important;
}

.pcf-paragraph {
  /* font-family: "Signika", Ubuntu-Bold, sans-serif; */
  font-size: 1.7rem !important;
  line-height: 1.9rem !important;
  margin: 13px 0 !important;
  font-weight: 400 !important;
  max-width: 75ch;
}

.pcf-text-info {
  font-size: 1.2rem !important;
}

/* Tipografías textos nvidia */

.fgeforceb {
  font-family: "geforce-bold";
}

.fgeforcel {
  font-family: "geforce-light";
}

.notchL {
  font-family: "geforce-light-notch";
}

.notchB {
  font-family: "geforce-bold-notch";
}

.nvidiasansr {
  font-family: "nvidiasans-regular" !important;
}

.nvidiasansm {
  font-family: "nvidiasans-mid" !important;
  font-weight: normal;
}

.nvidiasansmi {
  font-family: "nvidiasans-midit" !important;
}

.nvidiasansb {
  font-family: "nvidiasans-bold" !important;
}

.nvidiasansbi {
  font-family: "nvidiasans-bold-italic" !important;
}

.nvidiasansl {
  font-family: "nvidiasans-lig" !important;
}

.nvidiasansli {
  font-family: "nvidiasans-ligit" !important;
}

/********************************/
/*******  Fondos  **************/

.pcf-bg-gray {
  background-color: var(--gray-pcf) !important;
}

.pcf-bg-gray-light {
  background-color: var(--gray-light-pcf) !important;
}
.pcf-bg-gray-light-2 {
  background-color: var(--gray-light-2-pcf) !important;
}

.pcf-bg-green {
  background-color: var(--green-pcf);
}
.pcf-bg-white {
  background-color: var(--white);
}
.pcf-bg-black {
  background-color: var(--black);
}
.pcf-bg-blue {
  background-color: var(--blue-pcf);
}
.pcf-bg-yellow {
  background-color: var(--yellow-pcf);
}

.intel-bg-blue-dark {
  background-color: var(--blue-dark-intel);
}

.pcf-text-underline:hover {
  text-decoration: underline;
}

/********************************/
/*******  Botones  **************/

a.buttonSeeAll {
  border: 1px solid var(--blue-light-pcf);
  padding: 10px 15px 10px 15px;
  border-radius: 4px;
  display: inline-block;
  margin: 10px 0;
  font-size: 1em;
  background: var(--blue-light-pcf);
  color: var(--blue-pcf) !important;
  text-align: left;
  transition: .3s;
}

a.buttonSeeAll:hover {
  background-color: var(--blue-medium);
  border: 1px solid var(--blue-medium);
  color: var(--blue-pcf);
}

@media (max-width: 768px) {
  a.buttonSeeAll {
    font-size: .75em;
  }

  #ingresa, #listo {
    min-height: 287px!important;
  }

  #infoNotebooks {
    min-height: 245px!important;
  }

}

.pcf-border-green {
  border: solid 1px var(--green-pcf);
  padding: 10px 10px 10px 20px;
  word-break: break-word;
}

/****************************************/
/****** Header Landing  *********/

.headerlanding .img-header {
  max-width: 1420px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  float: initial;
  display: block;
}

/****************************************/
/****** Separadores Productos  *********/

.separador-especial {
  background-image: none;
  background-color: #43d87e;
}

/****************************************/
/*******  Titular categoria  ***********/

.white-txt {
  color: white !important;
  padding: 15px;
}

.texto-titular-categoria {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: #fff !important;
}
/****************************************/
/***** CSS MODAL ******/

.modal_video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  opacity: 0;
}

.modal_video_content {
  width: 80%;
  height: 90%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid #fff;
  background: #000;
  display: none;
  z-index: 99;
}

.close-icon {
  /* float: right; */
  /* width: 13px; */
  /* margin-right: 9px; */
  /* margin-top: 54px; */
  position: absolute !important;
  top: 3%;
  right: 7%;
}

#landing .delete,
.close-icon {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: 0;
  position: relative;
  vertical-align: top;
  width: 20px;
}

#landing .delete::after,
#landing .delete::before,
.close-icon::after,
.close-icon::before {
  background-color: #fff;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

#landing .delete::before,
.close-icon::before {
  height: 2px;
  width: 50%;
}

#landing .delete::after,
.close-icon::after {
  height: 50%;
  width: 2px;
}

.modal_video iframe {
  width: 100%;
  height: 100%;
  top: 50%;
}

.modal_video_title {
  font-size: 28px;
  margin: 10px 15px;
  color: #76b900;
}

/* AJUSTE RESPONSIVO MODAL  */

@media (max-width: 1023px) {
  .modal_video iframe {
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }

  .modal_video_content {
    width: 80%;
    height: 30%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid #fff;
    background: #000;
    display: none;
    z-index: 99;
  }

  .close-icon {
    /* float: right; */
    /* width: 13px; */
    /* margin-right: 9px; */
    /* margin-top: 54px; */
    position: absolute !important;
    top: 32%;
    right: 15px;
  }

  .grid-container {
    max-width: 100%;
    display: grid;
    /* grid-template-columns: 1fr min(142rem, calc(100% - 32px)) 1fr; */
    margin: 0 auto;
  }
}

/****************************************/
/***** CSS ESPECIFICO DEL LANDING ******/

.landing {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0;
}

.carousel-item img {
  max-width: 1420px;
  margin: 0 auto;
}
.cajaproductos {
  max-width: 100% !important;
}

.margin-scroll {
  margin-top: 25px;
}

@media (max-width: 1023px) {
  .margin-scroll {
    margin-top: 240px;
  }
}

#count-down {
  position: absolute;
  top: 50%;
  right: 12.7%;
  padding: 20px;
}

.despacho-img {
  width: 30px;
  margin-right: 10px;
}

.pcf-text-underline:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  /** Tamaños de Texto (Títulos y Parrafo) **/
}
/* 
.huincha{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000000;
  width: 100%;
} */

.huincha {
  width: 100%;
}
.huincha {
  text-align: center;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #42474a;
}
.huincha img {
  max-width: 100%;
  padding: 0 10px;
}

.object-fit-cover {
  object-fit: cover;
}

/* Card Categories*/

.cardCategories {
  border: 1px solid rgb(216, 216, 216);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 225px;
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
}

.cardCategories__icon {
  width: 100%;
  height: 100%;
  max-width: 30px;
  max-height: 30px;
  object-fit: contain;
}

/* Card Steps */

.cardSteps {
  border: 1px solid rgb(216, 216, 216);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px 0;
}

.cardSteps__icon {
  width: 70px;
  height: 70px;
  padding: 9px;
}

.cardSteps__icon img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.cardSteps__content {
  min-height: 125px;
}

/* Card Register*/

.cardRegister {
  border: 1px solid rgb(216, 216, 216);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cardRegister__content {
  min-height: 145px;
  border-radius: 4px 4px 0 0;
}

.cardRegister__icon {
  width: 100%;
  height: 100%;
  max-width: 80px;
  max-height: 80px;
  object-fit: contain;
}
.cardRegister__cta {
  min-height: 100px;
  border-radius: 0 0 4px 4px;
}

/* Mediaqueries for Desktop */

@media (min-width: 768px) {
  /** Tamaños de Texto (Títulos y Parrafo) **/
  .pcf-title-big {
    font-size: 6rem !important;
  }

  .pcf-title-medium {
    font-size: 4.5rem !important;
    margin: 15px 0 !important;
  }

  .pcf-title-small {
    font-size: 2.8rem !important;
  }

  .pcf-paragraph {
    /* font-family: "Signika", Ubuntu-Bold, sans-serif */;
    font-size: 1.7rem !important;
    line-height: 1.8rem !important;
    margin: 13px 0 !important;
    font-weight: 400 !important;
  }

  .pcf-faq {
    font-family: "Signika", Ubuntu-Bold, sans-serif;
    font-size: 1.5em !important;
    line-height: 1.6em !important;
    font-weight: 300 !important;
  }

  .pcf-list li {
    list-style: none;
    margin: 10px 0;
  }

  .pcf-oferdered-list li {
    list-style: decimal;
    color: var(--white);
  }

  .pcf-text-info {
    font-size: 1.2rem !important;
  }

  .link-pcf {
    color: #00d879 !important;
    margin: 0 5px 0 0;
    font-weight: 700;
  }

  /* Cards Categories*/

  .cardCategories {
    min-height: 250px;
  }

  .cardSteps {
    min-height: 250px;
  }

  .cardRegister__content {
    min-height: 250px;
  }

  /* Cards Register*/
  .cardRegister__icon {
    width: 100%;
    height: 100%;
    max-width: 148px;
    max-height: 150px;
    object-fit: contain;
  }
}
html {
  scroll-behavior: smooth;
}

.margin-scroll{
  margin-top: 160px;
}

/*Específicos del Landing */

#starlink-hero {
  background-image: url(./img/starlink-hero.webp);
  background-size: cover;
  background-position: center;
  min-height: 500px;
  height: 560px;
}

.starlink-hero__title {
  
}


.starlink-cards__image {
  height: 300px;
  overflow: hidden;


}
.starlink-cards__image img {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;

}

.starlinks-cards__text {
  min-height: 200px;
}

#starlink-internet {
  background-image: url(./img/starlink-internet__bg.webp);
  min-height: 150px;
  background-size: cover;
  background-position: center;
}


#starlink-conectivity {
  background-image: url(./img/starlink-conectividad__bg.webp);
  height: 255px;
  background-size: cover;
  background-position: top;
  position: relative;
  
}

#starlink-conectivity::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.57);
  backdrop-filter: blur(1px);
}

#starlink-conectivity .starlink-conectivity__content {
  position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
}


#starlink-capacities {
  background-image: url(./img/starlink-capacidad__bg.webp);
  height: 70px;
  background-size: cover;
  background-position: center;
  position: relative;
}

#starlink-capacities::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.57);
 /*  backdrop-filter: blur(1px); */
}

#starlink-capacities .starlink-capacities__content {
  position: absolute;
   /*  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
}


.starlink-atributes__icon--circle {
  width: 100px;
  height: 100px;
}

#starlink-footer {
  background-image: url(./img/starlink-footer__bg.webp);
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#starlink-footer::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(-180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6872823142414861) 100%);
  backdrop-filter: blur(1px);
}

.starlink-footer__content {
  z-index: 100;
}